@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Prototipo Jumbo+</h1>
    <p class="lead">Practica y ejercitación sobre un modelo de MVC y servicios SOAP</p>    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Envios</h2>
        <p>
            Se realizan tres DropDownList en cascada con un ABM incluido de paises, provincias y localidades.
        </p>
        <p><a class="btn btn-default" href="~/Envios/">Ver más &raquo;</a></p>
    </div>    
</div>